.bigScreen {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding: 0px 20px;
  text-align: center;
  line-height: 1.5;
  display: none;
}

@media screen and (min-width: 550px) {
  .bigScreen {
    display: flex;
  }
}
