.chats-body {
  padding: 0px;
}

.chats-body .header,
.chats-body .status-bar {
  z-index: 2;
}

.chats-body .header {
  padding: 20px 20px;
  position: fixed;
  top: 30px;
  background-color: #fcfcfc;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.1),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat {
  background-image: url(../images/chat_background.png);
  min-height: 100vh;
  padding: 0 20px;
}

.chat__write-container {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.3s ease-in-out;
}

.chat__write {
  margin: 0 auto;
  width: 100%;
  padding: 20px 60px;
  background-color: #fcfcfc;
  border: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.chat__icon-right {
  cursor: pointer;
  position: absolute;
  right: 20px;
}

.chat__icon-right .chat__write-icon {
  margin-left: 10px;
}

.chat__icon-left {
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.chat__write-container .chat__icon {
  transition: all 0.3s ease-in-out;
  font-size: 22px;
  cursor: pointer;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  border-radius: 40px;
  padding: 12px 20px;
  align-self: center;
  transform: translateY(-40px);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat .chat__messages {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__messages .chat__timestamp {
  padding: 10px 10px;
  margin: 20px 0px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat .message {
  display: flex;
  align-items: center;
  margin: 15px 0px;
}

@keyframes image {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}

.message img {
  width: 50px;
  border-radius: 25px;
  margin-right: 10px;
  align-self: start;
  animation: image 1s ease-in-out infinite;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.message__author {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 800;
}

.message .message__bubble {
  display: block;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #f46b45, #eea849);
  color: white;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to right, #1e3c72, #2a5298);
  color: white;
}

@keyframes float {
  0% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 13px 27px -60px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.chat__write:focus {
  animation: float 3s ease-in-out infinite;
}

@keyframes incominganimation {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat .incoming-message {
  animation: incominganimation 0.3s ease-in-out forwards;
}

@keyframes sentanimation {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.chat .sent-message {
  animation: sentanimation 0.3s ease-in-out forwards;
}
