.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__avatar {
  width: 60px;
  border-radius: 38%;
  margin-right: 10px;
}

.friend .m-avatar {
  width: 63px;
}

.friend .g-avatar {
  width: 66px;
}

.friend .friend__user {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.friend .friend__status,
.friend .friend__timestamp {
  font-size: 14px;
  opacity: 0.7;
}

.now-listening {
  justify-content: flex-end;
}

.friend__column .friend__now-listening {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid #52e084;
  border-radius: 15px;
  overflow: hidden;
}

.now-listening {
  max-width: 40%;
}

.friend__column .friend__now-listening span {
  opacity: 0.7;
  font-size: 14px;
}

.friend__column .friend__now-listening i {
  margin-left: 5px;
  color: #52e084;
  cursor: pointer;
}

.friend .friend__add-btn {
  background-color: #f4f3f4;
  padding: 13px 20px;
  border-radius: 5px;
  cursor: pointer;
}
