.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header .header__title {
  font-size: 26px;
  font-weight: 700;
}

.header .header__icon {
  font-size: 24px;
  margin-left: 14px;
  cursor: pointer;
}

.header .header__column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 24px;
  margin-right: 16px;
}
