.nav {
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  left: 0;
  bottom: 0;
  background-color: #fcfcfc;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav .nav__list-link {
  font-size: 30px;
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  color: white;
  background-color: #dc5d46;
  font-size: 16px;
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  right: -14px;
  top: -6px;
}
@keyframes navFade {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.nav {
  transform: translateY(100px);
  animation: navFade 0.4s ease-in-out forwards;
  animation-delay: 0.2s;
}
